@model AppSaresp_2024.Models.Aluno

@{
    ViewData["Title"] = "CadastrarAluno";
}

<h1>Área de Cadastro</h1>

<h4>Cadastrar Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarAluno">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeAluno" class="control-label"></label>
                <input asp-for="NomeAluno" class="form-control" />
                <span asp-validation-for="NomeAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <input asp-for="Serie" class="form-control" />
                <span asp-validation-for="Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turma" class="control-label"></label>
                <input asp-for="Turma" class="form-control" />
                <span asp-validation-for="Turma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneAluno" class="control-label"></label>
                <input asp-for="TelefoneAluno" class="form-control" />
                <span asp-validation-for="TelefoneAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimentoAluno" class="control-label"></label>
                <input type="date" asp-for="DataNascimentoAluno" class="form-control" />
                <span asp-validation-for="DataNascimentoAluno" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" onclick="alert('Aluno cadstrado com sucesso')"/>
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
